h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    text-align: center;
    color: rgb(97, 249, 107)
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    margin-top: 80px;
}
p i {
    font-size: 30px;
    font-weight: 600;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered-text{
    text-align: center;
}
.big-blue-text{
    color: blue;
}
#best-text{
    color: #61f96b;
}
a{
    text-decoration: none;
}
.menu{
    text-align: center;
}
.red{
    color: red;
}
.p1{
    border: 5px solid green;
    border-radius: 10px;
}
.first{
    background-color: #61f96b;
}
.second{
    background-color: blue;
}
.third{
    background-color: blueviolet;
}
.first, .second, .third{
    text-align: center;
}
.check{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.quote {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    margin-top: 75px;
  }
  
  .figure {
    margin-top: 50px;
  }
  .qmark{
    font-size: 3em;
    position: relative;
  }
  
  .open{
    margin-right: 15px;
    top: 20px;
  }
  .close{
    margin-left: 15px;
    top: 80px;
  }
