h1 {
    font-size: 64px;
    text-align: center;
}
h3 {
    margin-top: 80px;
}
p i {
    font-size: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered-text{
    text-align: center;
}
.big-blue-text{
    color: blue;
}
#best-text{
    color: orange;
}
