h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    text-align: center;
    color: rgb(97, 249, 107)
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    margin-top: 80px;
}
p i {
    font-size: 30px;
    font-weight: 600;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered-text{
    text-align: center;
}
.big-blue-text{
    color: blue;
}
#best-text{
    color: #61f96b;
}
a{
    text-decoration: none;
}
.menu{
    text-align: center;
}
.red{
    color: red;
}
.p1{
    border: 5px solid green;
    border-radius: 10px;
}